/* Write global style */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgb(192, 120, 4);
  --card-background-gradient: linear-gradient(324deg, rgb(124, 98, 50) 0%, rgba(224, 211, 175, 1) 100%);
  --card-background: rgb(168, 168, 168);
}

@font-face {
  font-family: 'Dragon Hunter';
  src: url('./fonts/DragonHunter-9Ynxj.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Almendra';
  src: url('./fonts/almendra-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Almendra', 'Arial';

  line-height: 1.5;

  background-color: grey;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Remove blue color, inherit from parent */
}