.header {
    display: flex;
    justify-content: center;

    margin-top: 2em;
    margin-bottom: 2em;
}

.quest-board {
    display: flex;
    gap: 5em;
    margin: 0 15em;
    justify-content: space-around;
    flex-wrap: wrap;
}