.home-container {
    display: flex;
    flex-direction: column;
    padding: 3em;

    height: 100vh;
}

.welcome-container {
    margin-left: 5em;
    margin-top: 5em;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.home {
    font-size: 46px;
    text-align: center;

    font-weight: 500;
}

.title {
    font-size: 60px;
    font-weight: 900;
}

.btn {
    margin-top: 3em;
    cursor: pointer;

    align-self: center;

    border: none;

    padding: 0.8em 1.5em;

    font-size: 20px;

    border-radius: 5px;

    background-color: rgb(190, 125, 4);

    transition: all 0.3s ease;
}

.btn:hover {
    background-color: white;
}