.home-container {
    display: flex;
    justify-content: center;
}

.welcome-container {
    margin-top: 5em;

    display: flex;
    flex-direction: column;

    position: absolute;
}

.home {
    font-size: 46px;
    text-align: center;

    font-weight: 500;

    color: var(--card-background)
}

.title {
    font-size: 60px;
    font-weight: 900;
    font-family: "Dragon Hunter";
    color: var(--main-color)
}

.btn {
    margin-top: 3em;
    cursor: pointer;

    align-self: center;

    border: none;

    padding: 0.8em 1.5em;

    font-size: 20px;

    border-radius: 5px;

    background-color: var(--main-color);

    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.tavern {
    z-index: -1;
    border-radius: 10px;

    object-fit: none;
}