.story-card {
    display: flex;
    flex-direction: column;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;

    padding: 1em;

    width: 500px;
    /* max-height: 565px; */

    background-color: rgb(168, 168, 168);
}

.title {
    font-size: 24px;
    font-weight: bold;

    text-wrap: balance;
    text-align: center;

    margin: auto;

    width: 60%;

    transition: all 0.3s ease-out;
}

a:hover>.title {
    color: var(--main-color);
}

.title-border {
    border-bottom: 1px solid rgb(0, 0, 0);

    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;

    width: 90%;
}

.img {
    width: 400px;
    height: 200px;

    margin: auto;

    margin-bottom: 1em;
    border-radius: 5px;

    object-fit: fill;
}

.story-desc {
    display: flex;

    width: 44ch;

    margin: auto;
}