.nav-container {
    background-color: rgb(85, 85, 85);

    display: inline-flex;

    min-width: 100%;
    margin-bottom: 3em;
}

.logo {
    margin: 0.2em 1em;
    text-align: center;
    color: var(--main-color);
    font-size: 30px;

    line-height: 1.2;

    cursor: pointer;

    width: 240px;
}

.nav-links {
    display: flex;
    align-self: center;
    margin-left: auto;
    padding-right: 2em;
}

ul {
    list-style: none;

    display: flex;
    padding: 0;
    gap: 2em;

    font-size: 24px;

    /* margin-right: 1em; */
}

li {
    cursor: pointer;

    width: 150px;
    text-align: center;

    padding-top: 1em;

    transition: all 0.3s ease;
}

.border {
    margin-top: 0.9em;
    border: 1px solid rgb(0, 0, 0);

    transition: all 0.3s ease;


}

li:hover {
    color: var(--main-color);
}

li:hover>.border {
    border-color: var(--main-color);
    transform: translateY(-6px);
}

.username {
    padding-top: 1em;
    font-weight: 600;
    font-size: 24px;
    text-align: center;

    width: 110%;
}

/* .username:hover>.border {
    border-color: var(--main-color);
    transform: translateY(-6px);
}

.username:hover {
    color: var(--main-color);
} */