.nav-container {
    background-color: rgb(85, 85, 85);

    display: flex;
}

.logo {
    margin: 0.2em 1em;
    text-align: center;
    color: rgb(190, 94, 4);
    font-size: 30px;

    line-height: 1.2;

    cursor: pointer;
}

.nav-links {
    display: flex;
    align-self: center;
    margin-left: auto;
    padding-right: 2em;
}

ul {
    list-style: none;

    display: flex;
    padding: 0;
    gap: 2em;

    font-size: 24px;
}

li {
    cursor: pointer;
    width: 150px;

    text-align: center;

    padding-top: 1em;

    transition: all 0.3s ease;
}

.border {
    margin-top: 0.9em;
    border: 1px solid rgb(0, 0, 0);

    transition: all 0.3s ease;
}

li:hover {
    color: rgb(190, 94, 4);
}

li:hover>.border {
    border: 1px solid rgb(190, 94, 4);
    /* Set the border color */
    transform: translateY(-6px);
}