.container {
    width: 50%;

    margin: 3em auto;
}

.logo {
    color: var(--main-color);

    font-family: "Dragon Hunter";
    font-size: 60px;
}

.title {
    font-size: 50px;

    margin-bottom: 3em;
    text-align: center;
}

.description {
    font-size: 30px;
}