.container {

    width: 50%;

    margin: 3em auto;
}

.logo {
    color: var(--main-color);

    font-family: "Dragon Hunter";
    font-size: 60px;
}

.title {
    font-size: 50px;
}

.description {
    font-size: 30px;
}